/*--------------------------------
  ヘッダー
---------------------------------*/
.jumbotron{
    margin-bottom: 0;
    /* background:url();  背景写真を追加 */

}

/* タイトルを中央寄せ */
.jumbotron .container{
    display:flex;   
    justify-content:center;
}



/*--------------------------------
  グローバルナビ
---------------------------------*/
#gnav {
    padding: 10px;
    font-family: 'Open sans', sans-serif;
    z-index: 100;
    background-color: #f8f9fa;
  }
  
#gnav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* font-style: italic */
  }
  
#gnav li {
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    color: rgba(0,0,0,.5);
  }
  
#gnav li a {
    color: rgba(0,0,0,.5);
    margin-left: 5px;
  }

#gnav li a:hover{
    color: black;
}


/*--------------------------------
  sectionの全体設定
---------------------------------*/
section{
    color: rgba(0,0,0,.5);
}

section .title{
    font-size: 40px;
    margin:15px 0;
}

section span{
    padding-left:5px;
}

section .container{
    padding-top:80px;
}

section span{
    margin:5px;
}

/*--------------------------------
  section-profile
---------------------------------*/
/* #profile .photo{
    display: flex;
} */

#profile img{
    border-radius:50%;
    height: 80%;
    padding: 10px;
    border: 1px solid #000;
}

#profile li{
    margin-bottom: 15px;
    line-height: 30px;
}

/* #profile .details{
    display: flex;
    justify-content: center;
} */

/*--------------------------------
  section-SKILL ナビゲーション
---------------------------------*/
/* ボタン設定 */
#skill button {
    color: rgba(0,0,0,.5);
}

#skill button:hover {
    color: black;
}

#skill .current{
    color: black;
    font-weight: bold;
}

/* スライド設定 */
.cons {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(186, 186, 186);
}

.slides {
    width: 1510px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
}

.slide {
    width: 500px;
    height: 300px;
    /* display: block; */
    text-align: center;
    font-size: 15px;
    float: left;
    padding:20px;
}

.slide h2{
    font-size:20px;
}

.slide .con{
	height: 230px;
    display: flex;
	flex-direction: column;
	/* border: 1px solid #000; */
	justify-content: center;
}

.slide p{
	margin-bottom:15px;
}

/*--------------------------------
  section-WORKS
---------------------------------*/
#works .card{
	margin-bottom: 10px;
}


/*--------------------------------
  section-contact
---------------------------------*/
#contact ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#contact li{
    margin:10px;
}

#contact a{
    color: rgba(0,0,0,.5);
}


/*--------------------------------
  footer
---------------------------------*/

#footer {
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
  }
  
  #footer .inner {
    padding: 30px;
  }
  
  #footer .footer-link ul {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #footer .footer-link li {
    font-size: 12px;
    padding: 0 20px;
  }
  
  #footer .footer-link li a {
    color: rgb(109, 109, 109);
    font-weight: bold;
  }
  
  #footer .copyright {
    font-size: 10px;
    color: #343434;
    /* text-align: center; */
  }


/*--------------------------------
  テスト用コード
---------------------------------*/
/* .container div{
    background-color: gold;
    border: 1px solid gray;
}*/

/* .test{
    height: 100px; 
    width: 100px;
    background-color: green;
} */

